.image img{
    width: 520px;
    height: 620px;
    margin: auto;
    margin-top: 20px;
}
.calculation{
    background-color:#F8F8F8;
    text-align: center;
    width: 520px;
    margin: 30px;
    height: 620px;
    padding-top: 80px;
}

.error-message{
    color: white;
    background-color: tomato;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
    display: none;
}